<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        {{ $wisdom := .Wisdom }}
        {{ $transport := .Transport }}

        <div>
            <h4>Sages</h4>
            <ul>
            {{ range $wisdom}}
                <li>{{.Name}} - {{.Motto}}</li>
            {{end}}
            </ul>
        </div>
        <div>
            <h4>Cars</h4>
            <ul>
            {{ range $transport}}
                <li>{{.Manufacturer}} - {{.Model}}</li>
            {{end}}
            </ul>
        </div>
</body>
</html>