<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
  <div>
    <h3>{{ .AcaYear }}</h3>
    {{ template "term" .Fall}}
    {{ template "term" .Spring}}
  </div>
{{end}}

</body>
</html>
