{{ define "navbar" }}
    <nav>
        <div>
            <a href="/">Home</a>
        </div>
        <div>
            <a href="/dog">Dog</a>
        </div>
        <div>
            <a href="/me">Me</a>
        </div>
    </nav>
{{ end }}
