{{ define "form" }}
 <form class="form" action="/" method="POST">
    <div>
        <label for="fName">First Name:</label>
        <input type="text" name="fName" id="fName" />
    </div>
    <div>
        <label for="lName">Last Name:</label>
        <input type="text" name="lName" id="lName" />
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>
{{ end }}