<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="author" content="john" />
    <title>Home</title>
</head>

<body>
    <div id="home">
        <div id="show-wrapper">
           {{ template "show" . }}
        </div>
        <div id="form-wrapper">
           {{ template "form" }}
        </div>
    </div>

</body>
</html>