<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    table {
        border-spacing: 5px;
    }
    </style>
</head>
<body>
    <table> 
        <thead>
            
                <th>Date</th>
            
                <th>Open</th>
            
                <th>High</th>
            
                <th>Low</th>
            
                <th>Close</th>
            
                <th>Volume</th>
            
                <th>Adj Close</th>
            
        </thead>
        <tbody>
            
                <tr>
                    <td>2015-07-09</td>
                    <td>523.119995</td>
                    <td>523.77002</td>
                    <td>520.349976</td>
                    <td>520.679993</td>
                    <td>1.8394e+06</td>
                    <td>520.679993</td>
                </tr>
            
                <tr>
                    <td>2015-07-08</td>
                    <td>521.049988</td>
                    <td>522.734009</td>
                    <td>516.109985</td>
                    <td>516.830017</td>
                    <td>1.2646e+06</td>
                    <td>516.830017</td>
                </tr>
            
                <tr>
                    <td>2015-07-07</td>
                    <td>523.130005</td>
                    <td>526.179993</td>
                    <td>515.179993</td>
                    <td>525.02002</td>
                    <td>1.5957e+06</td>
                    <td>525.02002</td>
                </tr>
            
                <tr>
                    <td>2015-07-06</td>
                    <td>519.5</td>
                    <td>525.25</td>
                    <td>519</td>
                    <td>522.859985</td>
                    <td>1.2765e+06</td>
                    <td>522.859985</td>
                </tr>
            
                <tr>
                    <td>2015-07-02</td>
                    <td>521.080017</td>
                    <td>524.650024</td>
                    <td>521.080017</td>
                    <td>523.400024</td>
                    <td>1.234e+06</td>
                    <td>523.400024</td>
                </tr>
            
                <tr>
                    <td>2015-07-01</td>
                    <td>524.72998</td>
                    <td>525.690002</td>
                    <td>518.22998</td>
                    <td>521.840027</td>
                    <td>1.961e+06</td>
                    <td>521.840027</td>
                </tr>
            
                <tr>
                    <td>2015-06-30</td>
                    <td>526.02002</td>
                    <td>526.25</td>
                    <td>520.5</td>
                    <td>520.51001</td>
                    <td>2.2172e+06</td>
                    <td>520.51001</td>
                </tr>
            
                <tr>
                    <td>2015-06-29</td>
                    <td>525.01001</td>
                    <td>528.609985</td>
                    <td>520.539978</td>
                    <td>521.52002</td>
                    <td>1.9309e+06</td>
                    <td>521.52002</td>
                </tr>
            
                <tr>
                    <td>2015-06-26</td>
                    <td>537.26001</td>
                    <td>537.76001</td>
                    <td>531.349976</td>
                    <td>531.690002</td>
                    <td>2.0115e+06</td>
                    <td>531.690002</td>
                </tr>
            
                <tr>
                    <td>2015-06-25</td>
                    <td>538.869995</td>
                    <td>540.900024</td>
                    <td>535.22998</td>
                    <td>535.22998</td>
                    <td>1.3315e+06</td>
                    <td>535.22998</td>
                </tr>
            
                <tr>
                    <td>2015-06-24</td>
                    <td>540</td>
                    <td>540</td>
                    <td>535.659973</td>
                    <td>537.840027</td>
                    <td>1.2834e+06</td>
                    <td>537.840027</td>
                </tr>
            
                <tr>
                    <td>2015-06-23</td>
                    <td>539.640015</td>
                    <td>541.499023</td>
                    <td>535.25</td>
                    <td>540.47998</td>
                    <td>1.196e+06</td>
                    <td>540.47998</td>
                </tr>
            
                <tr>
                    <td>2015-06-22</td>
                    <td>539.590027</td>
                    <td>543.73999</td>
                    <td>537.530029</td>
                    <td>538.190002</td>
                    <td>1.2425e+06</td>
                    <td>538.190002</td>
                </tr>
            
                <tr>
                    <td>2015-06-19</td>
                    <td>537.210022</td>
                    <td>538.25</td>
                    <td>533.01001</td>
                    <td>536.690002</td>
                    <td>1.8857e+06</td>
                    <td>536.690002</td>
                </tr>
            
                <tr>
                    <td>2015-06-18</td>
                    <td>531</td>
                    <td>538.150024</td>
                    <td>530.789978</td>
                    <td>536.72998</td>
                    <td>1.8281e+06</td>
                    <td>536.72998</td>
                </tr>
            
                <tr>
                    <td>2015-06-17</td>
                    <td>529.369995</td>
                    <td>530.97998</td>
                    <td>525.099976</td>
                    <td>529.26001</td>
                    <td>1.2686e+06</td>
                    <td>529.26001</td>
                </tr>
            
                <tr>
                    <td>2015-06-16</td>
                    <td>528.400024</td>
                    <td>529.640015</td>
                    <td>525.559998</td>
                    <td>528.150024</td>
                    <td>1.0693e+06</td>
                    <td>528.150024</td>
                </tr>
            
                <tr>
                    <td>2015-06-15</td>
                    <td>528</td>
                    <td>528.299988</td>
                    <td>524</td>
                    <td>527.200012</td>
                    <td>1.6307e+06</td>
                    <td>527.200012</td>
                </tr>
            
                <tr>
                    <td>2015-06-12</td>
                    <td>531.599976</td>
                    <td>533.119995</td>
                    <td>530.159973</td>
                    <td>532.330017</td>
                    <td>952400</td>
                    <td>532.330017</td>
                </tr>
            
                <tr>
                    <td>2015-06-11</td>
                    <td>538.424988</td>
                    <td>538.97998</td>
                    <td>533.02002</td>
                    <td>534.609985</td>
                    <td>1.205e+06</td>
                    <td>534.609985</td>
                </tr>
            
                <tr>
                    <td>2015-06-10</td>
                    <td>529.359985</td>
                    <td>538.359985</td>
                    <td>529.349976</td>
                    <td>536.690002</td>
                    <td>1.8114e+06</td>
                    <td>536.690002</td>
                </tr>
            
                <tr>
                    <td>2015-06-09</td>
                    <td>527.559998</td>
                    <td>529.200012</td>
                    <td>523.01001</td>
                    <td>526.690002</td>
                    <td>1.4416e+06</td>
                    <td>526.690002</td>
                </tr>
            
                <tr>
                    <td>2015-06-08</td>
                    <td>533.309998</td>
                    <td>534.119995</td>
                    <td>526.23999</td>
                    <td>526.830017</td>
                    <td>1.5206e+06</td>
                    <td>526.830017</td>
                </tr>
            
                <tr>
                    <td>2015-06-05</td>
                    <td>536.349976</td>
                    <td>537.200012</td>
                    <td>532.52002</td>
                    <td>533.330017</td>
                    <td>1.375e+06</td>
                    <td>533.330017</td>
                </tr>
            
                <tr>
                    <td>2015-06-04</td>
                    <td>537.76001</td>
                    <td>540.590027</td>
                    <td>534.320007</td>
                    <td>536.700012</td>
                    <td>1.3356e+06</td>
                    <td>536.700012</td>
                </tr>
            
                <tr>
                    <td>2015-06-03</td>
                    <td>539.909973</td>
                    <td>543.5</td>
                    <td>537.109985</td>
                    <td>540.309998</td>
                    <td>1.7145e+06</td>
                    <td>540.309998</td>
                </tr>
            
                <tr>
                    <td>2015-06-02</td>
                    <td>532.929993</td>
                    <td>543</td>
                    <td>531.330017</td>
                    <td>539.179993</td>
                    <td>1.9347e+06</td>
                    <td>539.179993</td>
                </tr>
            
                <tr>
                    <td>2015-06-01</td>
                    <td>536.789978</td>
                    <td>536.789978</td>
                    <td>529.76001</td>
                    <td>533.98999</td>
                    <td>1.8996e+06</td>
                    <td>533.98999</td>
                </tr>
            
                <tr>
                    <td>2015-05-29</td>
                    <td>537.369995</td>
                    <td>538.630005</td>
                    <td>531.450012</td>
                    <td>532.109985</td>
                    <td>2.5849e+06</td>
                    <td>532.109985</td>
                </tr>
            
                <tr>
                    <td>2015-05-28</td>
                    <td>538.01001</td>
                    <td>540.609985</td>
                    <td>536.25</td>
                    <td>539.780029</td>
                    <td>1.0279e+06</td>
                    <td>539.780029</td>
                </tr>
            
                <tr>
                    <td>2015-05-27</td>
                    <td>532.799988</td>
                    <td>540.549988</td>
                    <td>531.710022</td>
                    <td>539.789978</td>
                    <td>1.5204e+06</td>
                    <td>539.789978</td>
                </tr>
            
                <tr>
                    <td>2015-05-26</td>
                    <td>538.119995</td>
                    <td>539</td>
                    <td>529.880005</td>
                    <td>532.320007</td>
                    <td>2.4034e+06</td>
                    <td>532.320007</td>
                </tr>
            
                <tr>
                    <td>2015-05-22</td>
                    <td>540.150024</td>
                    <td>544.190002</td>
                    <td>539.51001</td>
                    <td>540.109985</td>
                    <td>1.1733e+06</td>
                    <td>540.109985</td>
                </tr>
            
                <tr>
                    <td>2015-05-21</td>
                    <td>537.950012</td>
                    <td>543.840027</td>
                    <td>535.97998</td>
                    <td>542.51001</td>
                    <td>1.4614e+06</td>
                    <td>542.51001</td>
                </tr>
            
                <tr>
                    <td>2015-05-20</td>
                    <td>538.48999</td>
                    <td>542.919983</td>
                    <td>532.971985</td>
                    <td>539.27002</td>
                    <td>1.4291e+06</td>
                    <td>539.27002</td>
                </tr>
            
                <tr>
                    <td>2015-05-19</td>
                    <td>533.97998</td>
                    <td>540.659973</td>
                    <td>533.039978</td>
                    <td>537.359985</td>
                    <td>1.9633e+06</td>
                    <td>537.359985</td>
                </tr>
            
                <tr>
                    <td>2015-05-18</td>
                    <td>532.01001</td>
                    <td>534.820007</td>
                    <td>528.849976</td>
                    <td>532.299988</td>
                    <td>1.9986e+06</td>
                    <td>532.299988</td>
                </tr>
            
                <tr>
                    <td>2015-05-15</td>
                    <td>539.179993</td>
                    <td>539.273987</td>
                    <td>530.380005</td>
                    <td>533.849976</td>
                    <td>1.9627e+06</td>
                    <td>533.849976</td>
                </tr>
            
                <tr>
                    <td>2015-05-14</td>
                    <td>533.77002</td>
                    <td>539</td>
                    <td>532.409973</td>
                    <td>538.400024</td>
                    <td>1.3991e+06</td>
                    <td>538.400024</td>
                </tr>
            
                <tr>
                    <td>2015-05-13</td>
                    <td>530.559998</td>
                    <td>534.322021</td>
                    <td>528.655029</td>
                    <td>529.619995</td>
                    <td>1.2523e+06</td>
                    <td>529.619995</td>
                </tr>
            
                <tr>
                    <td>2015-05-12</td>
                    <td>531.599976</td>
                    <td>533.208984</td>
                    <td>525.26001</td>
                    <td>529.039978</td>
                    <td>1.6254e+06</td>
                    <td>529.039978</td>
                </tr>
            
                <tr>
                    <td>2015-05-11</td>
                    <td>538.369995</td>
                    <td>541.97998</td>
                    <td>535.400024</td>
                    <td>535.700012</td>
                    <td>905300</td>
                    <td>535.700012</td>
                </tr>
            
                <tr>
                    <td>2015-05-08</td>
                    <td>536.650024</td>
                    <td>541.150024</td>
                    <td>525</td>
                    <td>538.219971</td>
                    <td>1.5276e+06</td>
                    <td>538.219971</td>
                </tr>
            
                <tr>
                    <td>2015-05-07</td>
                    <td>523.98999</td>
                    <td>533.460022</td>
                    <td>521.75</td>
                    <td>530.700012</td>
                    <td>1.5463e+06</td>
                    <td>530.700012</td>
                </tr>
            
                <tr>
                    <td>2015-05-06</td>
                    <td>531.23999</td>
                    <td>532.380005</td>
                    <td>521.085022</td>
                    <td>524.219971</td>
                    <td>1.567e+06</td>
                    <td>524.219971</td>
                </tr>
            
                <tr>
                    <td>2015-05-05</td>
                    <td>538.210022</td>
                    <td>539.73999</td>
                    <td>530.390991</td>
                    <td>530.799988</td>
                    <td>1.3831e+06</td>
                    <td>530.799988</td>
                </tr>
            
                <tr>
                    <td>2015-05-04</td>
                    <td>538.530029</td>
                    <td>544.070007</td>
                    <td>535.059998</td>
                    <td>540.780029</td>
                    <td>1.308e+06</td>
                    <td>540.780029</td>
                </tr>
            
                <tr>
                    <td>2015-05-01</td>
                    <td>538.429993</td>
                    <td>539.539978</td>
                    <td>532.099976</td>
                    <td>537.900024</td>
                    <td>1.7682e+06</td>
                    <td>537.900024</td>
                </tr>
            
                <tr>
                    <td>2015-04-30</td>
                    <td>547.869995</td>
                    <td>548.590027</td>
                    <td>535.049988</td>
                    <td>537.340027</td>
                    <td>2.0822e+06</td>
                    <td>537.340027</td>
                </tr>
            
                <tr>
                    <td>2015-04-29</td>
                    <td>550.469971</td>
                    <td>553.679993</td>
                    <td>546.905029</td>
                    <td>549.080017</td>
                    <td>1.6988e+06</td>
                    <td>549.080017</td>
                </tr>
            
                <tr>
                    <td>2015-04-28</td>
                    <td>554.640015</td>
                    <td>556.02002</td>
                    <td>550.366028</td>
                    <td>553.679993</td>
                    <td>1.491e+06</td>
                    <td>553.679993</td>
                </tr>
            
                <tr>
                    <td>2015-04-27</td>
                    <td>563.390015</td>
                    <td>565.950012</td>
                    <td>553.200012</td>
                    <td>555.369995</td>
                    <td>2.398e+06</td>
                    <td>555.369995</td>
                </tr>
            
                <tr>
                    <td>2015-04-24</td>
                    <td>566.102522</td>
                    <td>571.14259</td>
                    <td>557.252507</td>
                    <td>565.062561</td>
                    <td>4.9325e+06</td>
                    <td>565.062561</td>
                </tr>
            
                <tr>
                    <td>2015-04-23</td>
                    <td>541.002435</td>
                    <td>550.96249</td>
                    <td>540.23244</td>
                    <td>547.002472</td>
                    <td>4.1849e+06</td>
                    <td>547.002472</td>
                </tr>
            
                <tr>
                    <td>2015-04-22</td>
                    <td>534.402426</td>
                    <td>541.082489</td>
                    <td>531.752397</td>
                    <td>539.367458</td>
                    <td>1.5936e+06</td>
                    <td>539.367458</td>
                </tr>
            
                <tr>
                    <td>2015-04-21</td>
                    <td>537.512456</td>
                    <td>539.392429</td>
                    <td>533.677415</td>
                    <td>533.972413</td>
                    <td>1.8448e+06</td>
                    <td>533.972413</td>
                </tr>
            
                <tr>
                    <td>2015-04-20</td>
                    <td>525.602352</td>
                    <td>536.092424</td>
                    <td>524.50235</td>
                    <td>535.382408</td>
                    <td>1.6793e+06</td>
                    <td>535.382408</td>
                </tr>
            
                <tr>
                    <td>2015-04-17</td>
                    <td>528.662379</td>
                    <td>529.842435</td>
                    <td>521.012371</td>
                    <td>524.052386</td>
                    <td>2.1441e+06</td>
                    <td>524.052386</td>
                </tr>
            
                <tr>
                    <td>2015-04-16</td>
                    <td>529.902414</td>
                    <td>535.592457</td>
                    <td>529.612373</td>
                    <td>533.802391</td>
                    <td>1.2999e+06</td>
                    <td>533.802391</td>
                </tr>
            
                <tr>
                    <td>2015-04-15</td>
                    <td>528.702406</td>
                    <td>534.732432</td>
                    <td>523.22235</td>
                    <td>532.532429</td>
                    <td>2.3188e+06</td>
                    <td>532.532429</td>
                </tr>
            
                <tr>
                    <td>2015-04-14</td>
                    <td>536.252409</td>
                    <td>537.572435</td>
                    <td>528.094354</td>
                    <td>530.392405</td>
                    <td>2.6041e+06</td>
                    <td>530.392405</td>
                </tr>
            
                <tr>
                    <td>2015-04-13</td>
                    <td>538.412385</td>
                    <td>544.062463</td>
                    <td>537.312445</td>
                    <td>539.172404</td>
                    <td>1.6453e+06</td>
                    <td>539.172404</td>
                </tr>
            
                <tr>
                    <td>2015-04-10</td>
                    <td>542.292411</td>
                    <td>542.292411</td>
                    <td>537.312445</td>
                    <td>540.012477</td>
                    <td>1.4095e+06</td>
                    <td>540.012477</td>
                </tr>
            
                <tr>
                    <td>2015-04-09</td>
                    <td>541.032486</td>
                    <td>541.95249</td>
                    <td>535.49239</td>
                    <td>540.782472</td>
                    <td>1.5579e+06</td>
                    <td>540.782472</td>
                </tr>
            
                <tr>
                    <td>2015-04-08</td>
                    <td>538.382457</td>
                    <td>543.852415</td>
                    <td>538.382457</td>
                    <td>541.612446</td>
                    <td>1.1785e+06</td>
                    <td>541.612446</td>
                </tr>
            
                <tr>
                    <td>2015-04-07</td>
                    <td>538.08244</td>
                    <td>542.692434</td>
                    <td>536.002395</td>
                    <td>537.022465</td>
                    <td>1.3029e+06</td>
                    <td>537.022465</td>
                </tr>
            
                <tr>
                    <td>2015-04-06</td>
                    <td>532.222375</td>
                    <td>538.412385</td>
                    <td>529.572407</td>
                    <td>536.767432</td>
                    <td>1.3244e+06</td>
                    <td>536.767432</td>
                </tr>
            
                <tr>
                    <td>2015-04-02</td>
                    <td>540.852427</td>
                    <td>540.852427</td>
                    <td>533.849395</td>
                    <td>535.532478</td>
                    <td>1.7164e+06</td>
                    <td>535.532478</td>
                </tr>
            
                <tr>
                    <td>2015-04-01</td>
                    <td>548.602441</td>
                    <td>551.142488</td>
                    <td>539.502472</td>
                    <td>542.562439</td>
                    <td>1.9631e+06</td>
                    <td>542.562439</td>
                </tr>
            
                <tr>
                    <td>2015-03-31</td>
                    <td>550.00246</td>
                    <td>554.712521</td>
                    <td>546.722468</td>
                    <td>548.002468</td>
                    <td>1.588e+06</td>
                    <td>548.002468</td>
                </tr>
            
                <tr>
                    <td>2015-03-30</td>
                    <td>551.622503</td>
                    <td>553.472487</td>
                    <td>548.17249</td>
                    <td>552.032502</td>
                    <td>1.2875e+06</td>
                    <td>552.032502</td>
                </tr>
            
                <tr>
                    <td>2015-03-27</td>
                    <td>553.002509</td>
                    <td>555.282565</td>
                    <td>548.132463</td>
                    <td>548.342512</td>
                    <td>1.8975e+06</td>
                    <td>548.342512</td>
                </tr>
            
                <tr>
                    <td>2015-03-26</td>
                    <td>557.59255</td>
                    <td>558.90254</td>
                    <td>550.652497</td>
                    <td>555.172522</td>
                    <td>1.5726e+06</td>
                    <td>555.172522</td>
                </tr>
            
                <tr>
                    <td>2015-03-25</td>
                    <td>570.50259</td>
                    <td>572.262605</td>
                    <td>558.742494</td>
                    <td>558.787478</td>
                    <td>2.1523e+06</td>
                    <td>558.787478</td>
                </tr>
            
                <tr>
                    <td>2015-03-24</td>
                    <td>562.562541</td>
                    <td>574.592603</td>
                    <td>561.212586</td>
                    <td>570.192597</td>
                    <td>2.5833e+06</td>
                    <td>570.192597</td>
                </tr>
            
                <tr>
                    <td>2015-03-23</td>
                    <td>560.432554</td>
                    <td>562.362529</td>
                    <td>555.832536</td>
                    <td>558.81251</td>
                    <td>1.6438e+06</td>
                    <td>558.81251</td>
                </tr>
            
                <tr>
                    <td>2015-03-20</td>
                    <td>561.652574</td>
                    <td>561.722529</td>
                    <td>559.052548</td>
                    <td>560.362537</td>
                    <td>2.6169e+06</td>
                    <td>560.362537</td>
                </tr>
            
                <tr>
                    <td>2015-03-19</td>
                    <td>559.392531</td>
                    <td>560.802526</td>
                    <td>556.147548</td>
                    <td>557.992512</td>
                    <td>1.1973e+06</td>
                    <td>557.992512</td>
                </tr>
            
                <tr>
                    <td>2015-03-18</td>
                    <td>552.50248</td>
                    <td>559.782578</td>
                    <td>547.002472</td>
                    <td>559.502513</td>
                    <td>2.1345e+06</td>
                    <td>559.502513</td>
                </tr>
            
                <tr>
                    <td>2015-03-17</td>
                    <td>551.712533</td>
                    <td>553.802493</td>
                    <td>548.002468</td>
                    <td>550.842532</td>
                    <td>1.8055e+06</td>
                    <td>550.842532</td>
                </tr>
            
                <tr>
                    <td>2015-03-16</td>
                    <td>550.952514</td>
                    <td>556.852484</td>
                    <td>546.002476</td>
                    <td>554.512509</td>
                    <td>1.641e+06</td>
                    <td>554.512509</td>
                </tr>
            
                <tr>
                    <td>2015-03-13</td>
                    <td>553.502537</td>
                    <td>558.402572</td>
                    <td>544.222448</td>
                    <td>547.322503</td>
                    <td>1.7036e+06</td>
                    <td>547.322503</td>
                </tr>
            
                <tr>
                    <td>2015-03-12</td>
                    <td>553.512513</td>
                    <td>556.37253</td>
                    <td>550.462523</td>
                    <td>555.512505</td>
                    <td>1.3896e+06</td>
                    <td>555.512505</td>
                </tr>
            
                <tr>
                    <td>2015-03-11</td>
                    <td>555.142533</td>
                    <td>558.142521</td>
                    <td>550.682486</td>
                    <td>551.182515</td>
                    <td>1.8208e+06</td>
                    <td>551.182515</td>
                </tr>
            
                <tr>
                    <td>2015-03-10</td>
                    <td>564.252539</td>
                    <td>564.852512</td>
                    <td>554.732473</td>
                    <td>555.012538</td>
                    <td>1.7923e+06</td>
                    <td>555.012538</td>
                </tr>
            
                <tr>
                    <td>2015-03-09</td>
                    <td>566.862541</td>
                    <td>570.272589</td>
                    <td>563.537504</td>
                    <td>568.852557</td>
                    <td>1.0621e+06</td>
                    <td>568.852557</td>
                </tr>
            
                <tr>
                    <td>2015-03-06</td>
                    <td>574.882583</td>
                    <td>576.682625</td>
                    <td>566.762597</td>
                    <td>567.687558</td>
                    <td>1.6591e+06</td>
                    <td>567.687558</td>
                </tr>
            
                <tr>
                    <td>2015-03-05</td>
                    <td>575.022616</td>
                    <td>577.912621</td>
                    <td>573.412548</td>
                    <td>575.332609</td>
                    <td>1.3896e+06</td>
                    <td>575.332609</td>
                </tr>
            
                <tr>
                    <td>2015-03-04</td>
                    <td>571.872558</td>
                    <td>577.112576</td>
                    <td>568.012607</td>
                    <td>573.372583</td>
                    <td>1.8768e+06</td>
                    <td>573.372583</td>
                </tr>
            
                <tr>
                    <td>2015-03-03</td>
                    <td>570.452587</td>
                    <td>575.392649</td>
                    <td>566.522559</td>
                    <td>573.64261</td>
                    <td>1.7048e+06</td>
                    <td>573.64261</td>
                </tr>
            
                <tr>
                    <td>2015-03-02</td>
                    <td>560.532559</td>
                    <td>572.152623</td>
                    <td>558.752531</td>
                    <td>571.342601</td>
                    <td>2.1296e+06</td>
                    <td>571.342601</td>
                </tr>
            
                <tr>
                    <td>2015-02-27</td>
                    <td>554.242482</td>
                    <td>564.712602</td>
                    <td>552.902503</td>
                    <td>558.402572</td>
                    <td>2.4102e+06</td>
                    <td>558.402572</td>
                </tr>
            
                <tr>
                    <td>2015-02-26</td>
                    <td>543.212476</td>
                    <td>556.142529</td>
                    <td>541.502464</td>
                    <td>555.482516</td>
                    <td>2.3115e+06</td>
                    <td>555.482516</td>
                </tr>
            
                <tr>
                    <td>2015-02-25</td>
                    <td>535.90245</td>
                    <td>546.22244</td>
                    <td>535.447406</td>
                    <td>543.872489</td>
                    <td>1.826e+06</td>
                    <td>543.872489</td>
                </tr>
            
                <tr>
                    <td>2015-02-24</td>
                    <td>530.002419</td>
                    <td>536.792403</td>
                    <td>528.252381</td>
                    <td>536.092424</td>
                    <td>1.0051e+06</td>
                    <td>536.092424</td>
                </tr>
            
                <tr>
                    <td>2015-02-23</td>
                    <td>536.052398</td>
                    <td>536.441465</td>
                    <td>529.412361</td>
                    <td>531.912381</td>
                    <td>1.4579e+06</td>
                    <td>531.912381</td>
                </tr>
            
                <tr>
                    <td>2015-02-20</td>
                    <td>543.132484</td>
                    <td>543.75247</td>
                    <td>535.802444</td>
                    <td>538.952441</td>
                    <td>1.4444e+06</td>
                    <td>538.952441</td>
                </tr>
            
                <tr>
                    <td>2015-02-19</td>
                    <td>538.042413</td>
                    <td>543.11247</td>
                    <td>538.012424</td>
                    <td>542.872432</td>
                    <td>989100</td>
                    <td>542.872432</td>
                </tr>
            
                <tr>
                    <td>2015-02-18</td>
                    <td>541.402458</td>
                    <td>545.492471</td>
                    <td>537.512456</td>
                    <td>539.702422</td>
                    <td>1.4531e+06</td>
                    <td>539.702422</td>
                </tr>
            
        </tbody>
    </table>
</body>
</html>
