<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 15px;
    }
    table {
        border-spacing: 5px;
    }
    </style>
</head>
<body>
    <table> 
        <thead>
            {{ range .Header }}
                <th>{{.}}</th>
            {{ end }}
        </thead>
        <tbody>
            {{ range $i, $v := .Rows }}
                <tr>
                    <td>{{ $v.Date }}</td>
                    <td>{{ $v.Open}}</td>
                    <td>{{ $v.High}}</td>
                    <td>{{ $v.Low}}</td>
                    <td>{{ $v.Close}}</td>
                    <td>{{ $v.Volume}}</td>
                    <td>{{ $v.AdjClose}}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>
